main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}