body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.medium {
  width: 300px;
}

.left, .right {
  margin-top: 15px;
  margin-bottom: 15px;
}

.left {
  float: left;
  margin-right: 15px;
}

.right {
  float: right;
  margin-left: 15px;
}