main {
	font-size: 0;
}

.box-parent {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.box {
	border: 1px solid black;
	display: inline-block;
}

.box-half {
	width: 50%;
	height: 200px;
}

.box_third {
	width: 33.33%;
	height:300px;

}
 .green {
 	background-color: green;
 }

 .blue {
 	background-color: blue;
 }

 .grey {
 	background-color: grey;
 }

 .black {
 	background-color: black;
 }

 .orange {
 	background-color: orange;
 }

