body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.topimage {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 300px;
	}
.lowerimage {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	clear: right;
	width: 300px;
}