body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.left{
  width: 350px;
  height: 350px;
  float: left;
  padding-right: 15px;
  padding-top: 15px;
}
.right{
  width: 350px;
  height: 350px;
  float: right;
  padding-left: 15px;
  padding-top: 15px;
}
