body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img {
	width:300px;
}

.left-img {
	float: left;
	margin-right: 15px;
}

.right-img {
	float: right;
	margin-left: 15px;
}