body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 40px;
	width: 1000px;
	display: block;
}

.container {
	width: 100%;
	display: inline-block;
	margin-right: auto;
	background-color: grey;
	padding: 10px;
	padding-right: 200px;


}

nav.nav-bar { 	
	position: absolute;
	top: 75;
	right: 15;
}

header {
	margin-top: -10px;
	background-color: grey;
	position: relative;
}

nav-bar {
	margin-top: 100px;
	margin-right: 140px;

}
button .magnifying-glass {
	width: 23px;
	height: 23px;
	top: 3;
}

input {
	width: 300px;
	height: 30px;
	font-size: 10px;
}

.search-button {
	padding-top: ;
	margin-bottom: 20px
}

nav.page {
	display: inline-block;
	border: 1px black ;
	border-radius: 1px solid black;
	padding: 5px;
	position: relative;
	right: 30;
}

.page-button {
	border-radius: 1px solid black;
	border: 1px solid black;
	padding: 5px;
	position: relative;
	margin: 30px;
}

nav:hover {
	text-decoration: underline;
}

div {
	margin-top: 1px;
}

.search-field {
	border right: 1px black;
	border left: 1px black;
}






	