body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 40px;
	width: 1000px;
	display: block;
}

.container {
	width: 100%;
	display: inline-block;
	margin-right: auto;
	background-color: grey;
	padding: 10px;
	padding-right: 200px;


}

nav.nav-bar { 	
	position: absolute;
	top: 75;
	right: 15;
}

header {
	margin-top: -10px;
	background-color: grey;
	position: relative;
}

nav-bar {
	margin-top: 100px;
	margin-right: 140px;
}

input {
	width: 400px;
	height: 40px;
	font-size: 17px;
}

.magnifying-glass {
	height: 10%;
}

.search-button {
	vertical-align: bottom;
	
nav.page {
	display: inline-block;
	border: 1px black ;
	border-radius: 1px solid black;
	padding: 5px;
	position: relative;
	right: 30;
}

.pages-button {
  font-size: 16px;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 3px;
}

nav:hover {
	text-decoration: underline;
}

div {
	margin-top: 0px;
}

.search-section {
	border right: 1px black;
	border left: 1px black;
	height: 30px;
	font-size: 17px;
	margin: 30px;
	border-radius: 3px;
	margin-bottom: 30px;
}

label {
	margin-top: 20px;
	margin-bottom: 10px;
	display: block;
}


.search-section input {
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  height: 30px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  padding: 0 5px 0 8px;
  width: 400px;
}





	