body * {
	font-size: 1em;
}

.container {
	padding-right: 60px;
	padding-left: 60px;
}

nav {
	position: fixed;
	height:100px;
	width: 100%;
	background-color: grey;
}

nav .logo {
	position: absolute;
	left: 60px;
	top: 20px;
	vertical-align: middle;
	border: 1px solid black;
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

nav ul {
	list-style: none;
	font-size: 1em;
	margin-left: 60px;
	position: relative;
	top: 20px;
}

nav li {
	margin-left: 5px;
	display: inline-block;
	text-decoration: none;
	color: #000;
}

.links > li {
	position: relative;
	top: 20px;
	right: 60px;
}

.box {
	position: relative;
	top: 300px;
	left: 100px;
	width: 600px;
	height: 300px;
	border: 10px green dotted;
}

.spacecat, .spacedog {
	width: 200px;
	height: 200px;
	position: absolute;
}

.spacecat {
	top: -100px;
	left: -100px;
}

.spacedog {
	top: 200px;
	left: 500px;
}

img.bg {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}